# NODE MODULES
node_modules
client/node_modules
server/node_modules

# ENV FILES
.env
client/.env
server/.env

# BUILD FILES
build
dist
client/build

# LOG FILES
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS FILES
.DS_Store
Thumbs.db

# VSCODE
.vscode

# TEMP FILES
*.tmp
*.temp